<header class="fixed     top-0 w-full bg-[#fcb900] lg:py-[10px] box-border lg:px-[20px] md:py-[7px]  py-[7px] z-30">
  <div class="flex md:justify-between  justify-between lg:justify-start items-center ">
    
      <button class="block pl-3 relative lg:hidden">
        <div class=" flex-col flex  lg:hidden">
          <div class="bar w-8 h-1 bg-black"></div>
          <div class="bar w-8 h-1 bg-black my-1"></div>
          <div class="bar w-8 h-1 bg-black"></div>
        </div>
      </button>
      <a href="/" class="  lg:ml-2 pr-[2px] lg:mr-0    ">
        <img src="../assets/logo-betfair.svg" alt="Betfair logo" class="w-[166px] h-[29px] lg:w-[170px] lg:h-[30px] ">
      </a>
    
    <ul class="hidden lg:flex lg:ml-28  space-x-8">
      <li class="lg:mx-10 lg:ml-8">
        <a href="#" class="text-sm lg:px-[7px] font-bold uppercase lg:ml-[22px] lg:text-[13px] leading-[17px] ">HomePage</a>
      </li>
      <li class="lg:text-[13px] lg:mx-10 lg:leading-[20px] translate-y-[1px]">
        <a href="#" class="text-sm font-bold uppercase lg:px-[7px] lg:text-center">Our Commitment</a>
      </li>
      <li class="">
        <a href="#" class="text-sm font-bold uppercase lg:text-[13px] leading-[17px] lg:text-center lg:mx-6 lg:px-[12px]">Tools to Help</a>
      </li>
      <li>
        <a href="#" class="text-sm font-bold uppercase lg:text-[13px] lg:mx-7 lg:leading-[17px] text-center lg:px-[12px]">Looking Out for Everyone</a>
      </li>
      <li>
        <a href="#" class="text-sm font-bold uppercase lg:text-center  lg:leading-[17px] lg:text-[13px] lg:px-[3px]  ">Help and Support</a>
      </li>
    </ul>
  </div>
</header>

<section class=" ">
  <div class="hero  bg-cover md:min-h-[25em]   bg-center bg-no-repeat lg:mt-0  box-border bg-[url('/assets/web.jpg')] h-[223px] lg:h-[400px] w-full ">
    <div class="text-center py-[40px] px-[10px]">
      <h1 class="text-white text-[31px] md:text-[80px]  md:mt-4  text-center lg:text-[80px]  font-bold mt-0 lg:mt-7 -translate-y-3 uppercase z-10">Safer Gambling</h1>
      <h2 class="text-[#ffb80c] md:text-[36px] md:mt-3 lg:text-[36px] text-center text-[22px] font-bold mt-1 lg:mt-1 -translate-y-3 z-10">The fairest way to play</h2>
      <div class="h-[51px] w-[190px]   md:w-[280px] md:h-[76px] md:mt-3 bg-center flex justify-center mt-2 lg:mt-3 items-center bg-no-repeat mx-auto lg:h-[76px] lg:w-[280px] lg:mx-[570px] lg:bg-center " style="background-image: url('../assets/gamblinghelpline.svg');"></div>
     
  </div>
  </div>
  
  <div class="main pt-4 l pb-[51px] border-b border-black px-3 lg:py-16 lg:px-8 md:px-5 md:pt-8 lg:pt-8 ">
    <p class="text-[16px] leading-[1.4]  lg:px-[132px] lg:text-left lg:text-[19px]">At Betfair, we've always believed betting should be fun and fair for everyone.</p>
    <p class="text-[16px] leading-[1.4] mt-4 lg:px-[132px] lg:leading-[1.2] lg:text-left lg:text-[19px]  lg:mt-[16px]">To us, fairness means shining a light on the potential risks of playing and betting, and providing tools and support to help make<br> sure that everyone plays in a way that suits them.</p>
    <p class="text-[16px] leading-[1.4] mt-4 lg:px-[132px] lg:text-left lg:mt-5 lg:leading-none lg:text-[19px]">That’s what this website is for – a hub to find out all about the Safer Gambling tools that help give you control over your play, ways<br> to get in touch, and signs to watch out for so you can stay one step ahead.</p>
  </div>
  
  <div class="card flex bg-[#f1f1f1] border-b border-black px-3 lg:px-8 lg:pt-0 lg:pb-8 pt-6 pb-10">
   
    <ul class="md:grid md:grid-cols-2 lg:grid-cols-4 flex-col  space-y-6 md:space-y-0 md:gap-10 lg:gap-12 lg:justify-center lg:ml-28 ">
      <li class="text-left  lg:pt-5 ">
        <a href="#" class="text-[16px] font-bold text-[#555555]  uppercase">The Betfair Way</a>
        <p class="text-[14px] text-[#555555] lg:mt-1 mt-1">Making it safer for everyone</p>
      </li>
      <li class="text-left   lg:pt-5 ">
        <a href="#" class="text-[16px] font-bold  mt-2 md:mt-0  md:ml-20  lg:ml-0 text-[#555555] uppercase  ">Tools to Help</a>
      </li>
      <li class="text-left lg:pt-5 ">
        <a href="#" class="text-[16px] font-bold lg:mt-0 mt-7 text-[#555555] uppercase ">Looking Out for Everyone</a>
        <p class="text-[14px] mt-1 lg:mt-2 text-[#555555] lg:leading-[1.5]">On the look out</p>
        <p class="text-[14px] text-[#555555]">How you can help</p>
        <p class="text-[14px] text-[#555555]">Protecting Minors</p>
      </li>
      <li class="text-left lg:pt-5 ">
        <a href="#" class="text-[16px] lg:mt-0 mt-1 font-bold text-[#555555] uppercase lg:ml-0  md:ml-20">Help and Support</a>
        <p class="text-[14px] text-[#555555] lg:mt-2 leading-[1.5] md:ml-20 lg:ml-1">Support Organizations</p>
        <p class="text-[14px] text-[#555555] md:ml-20 lg:ml-1">Blocking Gambling Sites</p>
        <p class="text-[14px] text-[#555555] md:ml-20 lg:ml-1">Debt & Financial advice</p>
      </li>
    </ul>
</div>


  
  
  <div class="flex flex-col lg:flex-row lg:justify-center  lg:mt-0 lg:items-center border-b border-black px-0 lg:py-1  md:py-12  lg:px-8 ">

    <div class="justify-start items-start mt-2 lg:mt-0 ">    
      <img class="w-[128px] h-[59px] lg:w-28 lg:h-5 mr-8 ml-[10px] lg:ml-0 " src="../assets/logo-betfair.svg"/>
    </div>
    <div class="flex flex-wrap  p-[10px] lg:p-0 mb-10 lg:mb-0 ">
    <img class="lg:w-28 lg:h-10 w-[145px] h-[35px]  ml-8  lg:ml-1  lg:mt-2" src="../assets/mga.jpg"/>
    <img class="lg:w-24 lg:h-10 w-[140px] h-[35px]  ml-8 lg:ml-4 lg:mt-2" src="../assets/gambling-commission.jpg"/>
    <img class="lg:w-16 lg:h-10 w-22 h-[2.4rem] lg:ml-4 ml-2  mt-1 lg:mt-2 " src="../assets/18+.jpg"/>
    <img class="w-24 h-6 lg:ml-3 ml-1  mt-2 lg:w-32 lg:h-7 lg:mt-2" src="../assets/GORDON_MOODY-logo.svg"/>
  <img class="w-30 h-7 lg:ml-2 ml-3  mt-2 lg:mt-2" src="../assets/Gamcare-Ireland.svg"/>
  <img class="w-30 h-8 ml-5  mt-2 lg:mt-2 "  src="../assets/BGC.svg"/>
  
  <img class="w-40 h-6 ml-5  mt-2 lg:h-6 lg:mt-2 md:ml-56 lg:ml-5 " src="../assets/begambeaware-1.webp"/>
  <img class="w-[112px] h-8 ml-5 lg:w-28 lg:h-10  lg:mt-0 " src="../assets/gam-stop.jpg"/>

    </div>
    
</div>
<div class="py-[10px] px-0  lg:py-1 lg:px-16  bg-[#fce700] lg:items-center justify-start  lg:justify-between flex flex-col lg:flex-row md:pt-0 border-b border-black">
  <img class="lg:w-30 lg:h-5 w-[189px] h-8 ml-4 mb-4 lg:mb-0 lg:ml-0 text-left" src="../assets/tttt_logotype_v1.svg"/>
  <img class="lg:w-30 lg:h-10 w-[189px] h-8 ml-4 mb-4 lg:mb-0 lg:ml-4" src="../assets/tttt-logo.svg"/>
  <img class="lg:w-30 lg:h-10 ml-4 w-[189px] h-8 lg:ml-0" src="../assets/bgaorg-18-logo.svg"/>
</div>



<!-- <div  class="py-[10px] px-16 bg-[#fce700] lg:items-center justify-start lg:justify-between flex flex-row border-b border-black ">
  <img  class="w-30 h-5 ml-4" src="../assets/tttt_logotype_v1.svg"/>
  <img  class="w-30 h-10 ml-4" src="../assets/tttt-logo.svg"/>
  
  <img  class="w-30 h-10 ml-4" src="../assets/bgaorg-18-logo.svg"/>
  </div> -->
  </section>